<% provide(:title, @user.name) %>
<div class="wrapper">
	<div class="left">
		<div id="sidebar">
			<h1><%= link_to @user.name.upcase, @user %></h1>
			<ul>
				<% if signed_in? && current_user?(@user) %>
				<li><%= link_to 'Settings', edit_user_path(@user, current_user), class: "small-button" %></li> 
				<li> <%= link_to 'Browse', experiences_path, class: "small-button" %> </li>
				<li> <%= link_to  'Sign out', signout_path, method: 'delete', class: "small-button" %></li>
				<% else %>
				<li> <%=  link_to 'Follow', '#', class: "small-button" %> </li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="right">
		<div class="new-post"> 
				<%= render 'shared/experience_form'%> 
		</div>
		<div class="posts-wrapper">
			<h1> 
				<%= link_to 'MY POSTS', '#' %> 
				<small>(<%= @user.experiences.count %>)</small>
			</h1>
		<% if @user.experiences.any? %>
		<%= will_paginate @experiences %>
			<ol>
				<%= render @experiences %>
			</ol>
			<% end %>
		</div>
		<div class="posts-wrapper">
			<h1> 
				<%= link_to 'POSTS I FOLLOW', '#' %>
			</h1>
		</div>
	</div>
</div>
