<% provide(:title, @user.name) %>
<div class="wrapper">
	<div class="left">
		<div id="sidebar">
			<h1><%= link_to @user.name.upcase, @user %></h1>
			<ul>
				<% if signed_in? && current_user?(@user) %>
				<li><%= link_to 'Settings', edit_user_path(@user, current_user), class: "small-button" %></li> 
				<li> <%= link_to 'Browse', posts_path, class: "small-button" %> </li>
				<li> <%= link_to  'Sign out', signout_path, method: 'delete', class: "small-button" %></li>
				<% else %>
				<li> <%=  link_to 'Follow', '#', class: "small-button" %> </li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="right">
		<div class="new-post"> 
				<%= render 'shared/post_form'%> 
		</div>
		<div class="posts-wrapper">
				<%= link_to '#' do %> 
					<h1>
						MY POSTS <small>( <%= @user.posts.count %>)</small>
					</h1>
				<% end %>
		<% if @user.posts.any? %>
			<%= will_paginate @posts, param_name: :post_page %>
			<ol>
				<%= render @posts %>
			</ol>
		<% end %>
		</div>
		<div class="posts-wrapper">
					<h1>POSTS I FOLLOW <small>( <%= @user.followed_posts.count %> )</small> </h1>

					<%= will_paginate @feed_items, param_name: :feed_item_page %> 
					<%= render 'shared/feed' %>
		</div>
	</div>
</div>