<% if signed_in? && current_user?(@user) %>
<%= form_for(@post) do |f| %> 
	<%= render 'shared/error_messages', object: f.object %>
	<div class="title-area"> 
		<%= f.text_field :title, placeholder: "Enter title..." %>
	</div>
	<div class="text-area">
		<%= f.text_area :content, placeholder: "Compose new post..." %>
	</div>
		<%= f.submit "Post", class: "small-button", id: "post" %>
		<% end %>
<% end %>
