<li>
	<span class="post-title"><%= link_to experience.title, experience %></span>
	<span class="post-content">
		<%= truncate(experience.content, length: 200) %> 
	</span>
	<span class="timestamp"> posted <%= time_ago_in_words(experience.created_at) %> ago by <%= link_to experience.user.name, experience.user %>. </span>
	<% if current_user?(experience.user) %>
		<%= link_to 'delete', experience, method: 'delete', data: {confirm: "Are you sure?"}, class: "far-right" %>
	<% else %>
		<%= link_to 'read more', experience, class: "far-right" %>
	<% end %>
</li>