<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:900,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "alert-#{key}") %>
	<% end %>
		<%= yield %>
		<!--<div class="debug_dump"><%= debug(params) if Rails.env.development? %></div>-->
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
